@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #000;
  background-color: #e3e3e3;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.3rem;
  height: 150px;
}

.menu {
  height: 100px;
  width: 100px;
  margin: 10px;
  flex-grow: 1;
}

nav {
  width: 100%;
  height: 100px;
}

ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  display: inline-flex;
  line-height: 100px;
}

ul li a {
  color: #c60021;
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 0 20px;
  font-size: 1.2rem;
}

ul li a:hover {
  color: gray;
}

.logo {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

.logo img {
  height: 80px;
  width: 80px;
  margin: 0 0 10px 0;
}

.logoName {
  color: #c60021;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.socialMedia {
  height: 100px;
  width: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.socialMedia div {
  display: flex;
  align-items: center;
}

.socialMedia div a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: gray;
  font-size: 20px;
  color: #000;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.socialMedia a i {
  transition: 0.5s all;
}

.socialMedia a:hover > i {
  transform: scale(1.3) rotate(360deg);
  color: #fff;
}

.socialMedia .facebook a:hover {
  background: #4267b2;
}

.socialMedia .twitter a:hover {
  background: #1da1f2;
}
.socialMedia .google a:hover {
  background: #d34c3d;
}
.socialMedia .instagram a:hover {
  background: #7315c6;
}
.socialMedia .youtube a:hover {
  background: #fe0000;
}

.showCase {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  margin-bottom: 4rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.asideLeft {
  height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.info {
  color: #000;
  width: 250px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.info :nth-child(1) {
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  color: #c60021;
}

.inside {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inside img {
  height: 750px;
  width: 75%;
  border-radius: 45%;
  border-style: solid;
  border-color: gray;
  padding: 30px;
}

.asideRight {
  height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.career {
  color: #000;
  width: 250px;
  font-size: 4rem;
  line-height: 2rem;
  text-align: right;
}

.career :nth-child(1) {
  color: #c60021;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  line-height: 1rem;
}

.advertisement {
  display: flex;
  height: 80px;
  margin: 100px 300px 100px 300px;
  justify-content: space-evenly;
}

.ad img {
  height: 80px;
  width: 80px;
}

hr {
  color: #000;
  margin: 0 200px 0 200px;
}

.avantage {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  margin: 100px 0 100px 0;
}

.myAvantage {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.company {
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skills {
  background-color: gray;
  border-radius: 40%;
  height: 250px;
  width: 150px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skillLogo img {
  height: 100px;
  width: 100px;
}

.skillPercent {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: #000;
}

.companyName {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.1rem;
  margin-bottom: 100px;
}

.experience {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  margin: 100px 0 100px 0;
}

.education {
  display: flex;
  justify-content: space-evenly;
}

.information {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.information :nth-child(1) {
  line-height: 10rem;
}

.information p {
  color: #c60021;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.information h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
}

.projects {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  margin: 100px;
}

.myprojects {
  display: flex;
  justify-content: space-evenly;
}

.project img {
  height: 300px;
  width: 400px;
  margin-bottom: 100px;
}

.call {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;
}

.call img {
  height: 300px;
  width: 300px;
}

.call :nth-child(2) {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 50px;
}

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.1rem;
  margin-bottom: 100px;
}

.footerSocialMedia {
  display: flex;
  justify-content: center;
}

.footerSocialMedia div {
  display: flex;
  align-items: center;
}

.footerSocialMedia div a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: gray;
  font-size: 20px;
  color: #000;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.footerSocialMedia a i {
  transition: 0.5s all;
}

.footerSocialMedia a:hover > i {
  transform: scale(1.3) rotate(360deg);
  color: #fff;
}

.footerSocialMedia .facebook a:hover {
  background: #4267b2;
}

.footerSocialMedia .twitter a:hover {
  background: #1da1f2;
}
.footerSocialMedia .google a:hover {
  background: #d34c3d;
}
.footerSocialMedia .instagram a:hover {
  background: #7315c6;
}
.footerSocialMedia .youtube a:hover {
  background: #fe0000;
}

.button {
  position: fixed;
  background-color: #c60021;
  width: 60px;
  height: 50px;
  line-height: 45px;
  bottom: 10%;
  right: 2%;
  border-radius: 3px;
  text-align: center;
  box-shadow: 4px 4px 4px #000;
}

.button:active {
  box-shadow: 0 0;
}

.button a {
  font-size: 3rem;
  color: #0b0c10;
}
